*{
    margin: 0;
    padding: 0;
}
/*Navbar*/
.container{
    width:100%;
    display:inline-block;
}
.side-bar{
    background:$color-principal;
    position:fixed;
    top: 0;
    z-index: 1000;
    height:100%;
    width:210px;
    color:#fff;
    transition: margin-left 0.5s;

    ul{
        list-style:none;
        padding:0px;

        li.menu-head{
            font-family: $fuente-general;
            padding:40px 20px;

            a{
               color:#fff;
                text-decoration:none;
                height:50px; 
            }
        }
        .menu-head {
            a{
                color:#fff;
                text-decoration:none;
                height:50px;
            }
        }

        .menu{
            li{
                a{
                    color:#fff;
                    text-decoration:none;
                    display:inline-table;
                    width:100%;
                    padding: 25px 20px;
                    font-size: 16px;
                    font-weight: bold;
                }
                a:hover{
                    border-left:3px solid #ECECEA;    
                    padding-left:17px; 
                }

                a.active{
                    padding-left:17px;
                    background:#D9853B;
                    border-left:3px solid #ECECEA;
                }
                a.active:before {
                   content:"";
                   position: absolute;
                   width: 0;
                   height: 0;
                   border-top: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    
                    border-left: 7px solid #D9853B;
                    margin-top: -10px;
                    margin-left: 180px;
                }
            }
        }
    }
}

.active > .side-bar{
    margin-left:-150px;   
    transition: margin-left 0.5s;
}

.menu-lateral {
    i{
        font-size: 25px;
    }
}

/*secciones internas*/
.seccion{
    padding: 50px 100px;
    height: 100vh;
     margin: 0 auto;
    text-align: center;
     h1{
        @include titulos();
        text-align: left;
   }
}
#particles-js{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    position: relative;
}
#header{
    margin-top: -20px;
    position: absolute;
    height: 100vh;
    .titulo{
        height: 350px;
        margin-top: 50px;
    }
}
 #about{
        text-align: left;
        font-size: 18px;
        line-height: 20px;
        height: 100vh;
        .photo-perfil img{
            border-radius: 100%;
            width: 200px;
            height: 200px;
            float: left;
        }
        .descrip img{
            width: 100px;
            display: inline-block;
            padding: 15px;
        }
        p{
            padding: 40px 0;
        }
    }
#skills{
    margin: 0 auto;
    text-align: center;
    background-color: $color-principal;
    h2{
        @include subtitulos();
        padding-bottom: 40px;
        color: #fff;
    }
    .icons{
        padding: 25px 0;
        i{
            padding:40px;
            font-size: 80px;
            text-align: center;
            color: #fff;
        }
        img{
            display: inline-block;
            padding: 50px 15px;
        }
    }

}
#portafolio{
     h2{
        @include subtitulos();
        padding-bottom: 40px;
    }
    .image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
    }

    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%)
    }

    .col-md-3:hover .image {
      opacity: 0.3;
    }

    .col-md-3:hover .middle {
      opacity: 1;
    }

    .text {
        li{
            display: inline-block;
            text-decoration: none;
            padding: 10px;
        }
      .btn-default{
        background-color: $color-principal;
        color: #fff;
        border: transparent;
      }
      a i{
        color: $color-principal;
        font-size: 30px;
      }
      a:hover{
        text-decoration: none;
      }
    }
}

#contacto{
    margin: 0 auto;
    text-align: center;
    background-color: $color-principal;
    h2{
        @include subtitulos();
        padding-bottom: 40px;
        color: #fff;
    }
    ul{
        li{
            display: inline-block;
            a{
                display: inline-block;
                color: #fff;
                font-size: 60px;
                padding: 20px;
            }
            a:hover{
                color: #E11D1D;
            }
        }
    }
    p{
        text-align: left;
        color: #fff;
        padding: 8px 0;
        font-size: 18px;
        i{
            padding-right: 10px;
        }
    }
}