*{
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: $fuente-general;
    color: $color-texto-general;
}
/*Navbar*/
.navbar-default{
    background-color: transparent;
    border: transparent;
    .navbar-brand{ 
        img{
            width: 50px;
            margin-top: -12px;
        }
    }
    .navbar-nav .active a{
        background-color: #07D8D9;
        color: #fff;
    }
}
.scroll-menu{
   background-color: #fff;
}

/*Header*/
#header{
    height: 100vh;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 10%;
    .titulo{
        position: absolute;
        top: 75%;
        left: 59%;
        h1{
            font-size: 20px;
            text-align: left;
            font-weight: bold;
            margin: 0;
            padding: 0;
            color: $color-texto-general;
            line-height: 18px;
             i{
                font-size: 25px;
             }
        }
    }
}
/*About*/
 #about{
    @include contenedor-secciones();
    background-color: $color-crema;
    .photo-perfil img{
        border-radius: 100%;
        width: 100%;
        float: left;
    }
    .descrip img{
        width: 120px;
        display: inline-block;
        padding: 15px;
    }
    p{
        padding: 20px 0;
        font-size: 16px;
        line-height: 30px;
        text-align: left;
    }
    h2{
        @include subtitulos();
        padding-bottom: 10px;
        i{
            color: $color-secundario;
        }
    }
}
/*Skills*/
#skills{
    @include contenedor-secciones();
    margin: 0 auto;
    text-align: center;
    background-color: #E9F4E3;
    h2{
        @include subtitulos();
        padding-bottom: 40px;
        i{
            color: $color-secundario;
        }
    }
    .icons{
        padding: 25px 0;
        i{
            padding:40px 20px;
            font-size: 60px;
            text-align: center;
        }
        img{
            display: inline-block;
            padding: 50px 15px;
        }
    }
}
#proyectos{
    @include contenedor-secciones();
    background-color: #C8F0DE;
     h2{
        @include subtitulos();
        padding-bottom: 40px;
        i{
            color: $color-crema;
        }
    }
    .image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: .5s ease;
    }

    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%)
    }

    .img-portfolio:hover .image {
      opacity: 0.3;
    }

    .img-portfolio:hover .middle {
      opacity: 1;
    }

    .text {
        li{
            display: inline-block;
            text-decoration: none;
            padding: 10px;
            a{
                color: #fff;
                 font-size: 18px;
                 font-weight: bold;
            }
            a:hover{
                background-color: $color-texto-general;
            }
            i{
                font-size: 18px;
                padding-right: 10px;
                color: #fff;
            }
            .btn-default{
                padding: 10px 20px;
                background-color: $color-secundario;
                border: transparent;
            }
        }

    }
    .img-portfolio{
        padding: 20px;
    }
}

#contacto{
    @include contenedor-secciones();
    margin: 0 auto;
    text-align: center;
    background-color: #99F0DE;
    h2{
        @include subtitulos();
        padding-bottom: 40px;
         i{
            color: $color-crema;
        }
    }
    ul{
        li{
            display: inline-block;
            a{
                display: inline-block;
                font-size: 60px;
                padding: 20px;
            }
            a:hover{
                color: red;
            }
        }
    }
    p{
        text-align: left;
        padding: 8px 10px;
        font-size: 18px;
        display: inline-block;
        i{
            padding-right: 10px;
        }
    }
}

